
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
 
    <title>Question</title>
    <link href="~/Content/x-admin.css" rel="stylesheet" />
    <link href="~/Content/pageBar.css" rel="stylesheet" />
</head>
<body>
    
        <table class="layui-table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="" value=""> <!--当他被勾选的时候出现全选的情况-->
                    </th>
                    <th>ID</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>来源</th>
                    <th>更新时间</th>
                    <th>浏览次数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
               
                @using Models;
                @if (ViewData["list"] != null)
                {
                    foreach (var list in (List<Question>)ViewData["list"])
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="1" name="">
                            </td>
                            <td>
                                @list.Id
                            </td>
                            <td>
                                <u style="cursor:pointer" onclick="question_show()">
                                    @list.Ttile
                                </u>
                            </td>
                            <td>
                                @list.Category
                            </td>
                            <td>
                                @list.Origin
                            </td>
                            <td>
                                @list.Time
                            </td>
                            <td>
                                @list.VisitCount
                            </td>
                            <td class="td-manage">
                                <a title="编辑" href="javascript:;" onclick="question_edit('编辑','question-edit.html','4','','510')" class="ml-5" style="text-decoration:none">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a title="删除" href="javascript:;" onclick="question_del(this,'1')" style="text-decoration:none">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else {
                        <tr>
                            <td>暂无数据</td>
                        </tr>
                   
                }
            </tbody>

        </table>

        <!--分页-->
        <div class="page_nav">
            @using Common;
            @Html.Raw(PageGet.GetPageBar(Convert.ToInt32(ViewData["pageIndex"]), Convert.ToInt32(ViewData["pageCount"])))
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>

        $(function () {
            $("#SreachBtn").click(function () {
                var starttime = $("#LAY_demorange_s").val();
                var endtime = $("#LAY_demorange_e").val();
                $.post("/HomePage/Question", { "start": starttime, "end": endtime });
               
            })
        })
    </script>
    <script src="~/Scripts/lib/layui/layui.js"></script>
    <script src="~/Scripts/x-admin.js"></script>
    <script>
        layui.use(['laydate', 'element', 'layer'], function () {
            $ = layui.jquery;//jquery
            laydate = layui.laydate;//日期插件
            lement = layui.element();//面包导航
            //  laypage = layui.laypage;//分页
            layer = layui.layer;//弹出层



            var start = {

                max: '2099-06-16 23:59:59'
                , istoday: false
                , choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                min: laydate.now()
                , max: '2099-06-16 23:59:59'
                , istoday: false
                , choose: function (datas) {
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };

            document.getElementById('LAY_demorange_s').onclick = function () {
                start.elem = this;
                laydate(start);
            }
            document.getElementById('LAY_demorange_e').onclick = function () {
                end.elem = this
                laydate(end);
            }
        });

        //批量删除提交
        function delAll() {
            layer.confirm('确认要删除吗？', function (index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', { icon: 1 });
            });
        }

        function question_show(argument) {
            layer.msg('可以跳到前台具体问题页面', { icon: 1, time: 1000 });
        }
        /*添加*/
        function question_add(title, url, w, h) {
            x_admin_show(title, url, w, h);
        }
        //编辑
        function question_edit(title, url, id, w, h) {
            x_admin_show(title, url, w, h);
        }

        /*删除*/
        function question_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $(obj).parents("tr").remove();
                layer.msg('已删除!', { icon: 1, time: 1000 });
            });
        }
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
