
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>
       分类管理
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
   
    <link href="~/Content/x-admin.css" rel="stylesheet" />
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>会员管理</cite></a>
            <a><cite>分类管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <form class="layui-form x-center" action="" style="width:50%">
            <div class="layui-form-pane" style="margin-top: 15px;">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:60px">所属分类</label>
                    <div class="layui-input-inline" style="width:120px;text-align: left">
                        @if (ViewData["list"] != null)
                        {
                            @Html.DropDownList("CategoryFor", ViewData["list"] as List<SelectListItem>)
                        }
                    </div>
                    <div class="layui-input-inline" style="width:120px">
                        <input type="text" id="mytext" name="name" placeholder="分类名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width:80px">
                        <input type="button" class="layui-btn" lay-submit="" id="add" lay-filter="add" value="增加" />
                    
                    </div>
                </div>
            </div>
        </form>
        <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button><span class="x-right" style="line-height:40px">共有数据：@ViewData["count"] 条</span></xblock>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="chkAll" id="chkAll" value="">
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        所属分类ID
                    </th>
                    <th>
                        分类名
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody id="x-link">
                @using Models;
                @if (ViewData["dtable"] != null)
                {
                    foreach (var a in (List<Category>)ViewData["dtable"])
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="1" id="chk" name="chk">
                            </td>
                            <td>
                                @a.Id
                            </td>
                            <td>
                                @a.Pid
                            </td>
                            <td>
                                @a.CategoryName
                            </td>
                            <td class="td-manage">
                                <a title="编辑" href="javascript:;" onclick="cate_edit('编辑','/Category/CateEdit?id=@a.Id','4','','510')"
                                   class="ml-5" style="text-decoration:none">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a title="删除" href="javascript:;" onclick="cate_del(this,'@a.Id')"
                                   style="text-decoration:none">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <script src="~/Scripts/jquery-1.5.1.js"></script>
    <script>
        //实现全选
        $(function () {
            $("#chkAll").click(function () {
                $("input[name='chk']").prop("checked", this.checked);
            })
        })
    </script>
    <script src="~/Scripts/lib/layui/layui.js"></script>
    <script src="~/Scripts/x-layui.js"></script>

    <script>
        layui.use(['element', 'layer', 'form'], function () {
            $ = layui.jquery;//jquery
            lement = layui.element();//面包导航
            layer = layui.layer;//弹出层
            form = layui.form();

            //监听提交
            
               

                $("#add").click(function () {
                    var text = $("#CategoryFor").val();
                    var mytext = $("#mytext").val();
                    $.post("/Category/AddCategory", { "text": text,"mytext":mytext}, function (data) {
                        if (data == "OK") {
                           alert("添加成功");
                            
                            window.location.reload();
                        } else {
                            layer.alert("添加失败", { icon: 6 });
                        }
                    })
                })
               
               
           


        })




        //批量删除提交
        function delAll() {
            layer.alert("因为考虑到类别下面有很多子类，贸然删除会导致众多数据的丢失，所以不建议进行批量删除", { icon: 6 });
        }

        //-编辑
        function cate_edit(title, url, id, w, h) {
            x_admin_show(title, url, w, h);
        }

        /*-删除*/
        function cate_del(obj, id) {
            layer.confirm('确认要删除吗？', {
                btn: ['确定', '取消'], btn1: function () {


                    $.post("/Category/DeleteId", { "id": id }, function (data) {
                        alert(data);
                        window.location.reload();
                    })
                },
                btn2: function () {
                    layer.close();
                }
            });
        }
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
